.start main{
    padding:0;
}

.start .package{
    overflow: hidden;
    padding:2.777777778% 7.87037037%;
}

.introduction-package{
    background: $zeus;
}

.introduction{
    @media screen and (min-width: $break-small) {
        max-width:575px;
        float:right;
    }

    h2{
        font-size: 2.5em;
        @media screen and (min-width: $break-small) {
            font-size:3em;
        }
    }

    h2, p{
        color: $white;
    }
}