/*Global vars and whatever stuff or wait… no! Simply vars and stuff only */

/*Colors - names from http://name-of-color.com */
$white: #fff;
$black: #000;
$blaze-orange: #f95e00;
$grenadie: #d14905;
$zeus: #2b1f1a;
$vista-blue: #8ed5b6;
$selective-yellow: #ffbb00;
$golden-glow: #ffea94;
$acapulco: #80bfa3;

/*Fonts*/
$header-font: Patua One, serif;
$body-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;

/*Mediaqueries*/
$break-mini: 320px;
$break-small: 550px;
$break-medium: 600px;
