header {
  color: white;
  margin: 0 auto;
  max-width: $max-width-wrapper;
  position: relative;
  padding: 0 7.8%;
}

header a {
  color: white;
}

.skip-to-main {
  border: 0;
  box-sizing: border-box;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

  &:focus,
  &:active {
    background-color: white;
    border-bottom: 2px solid white;
    color: $zeus;
    clip: auto;
    display: block;
    font-size: 1.6rem;
    padding: 15px;
    padding: 1.5rem;
    position: static;
    outline: 0;
    text-align: center;
    width: 100%;
    height: auto;
  }
}

.our-wellknown-logo {
  font-size: 1.8rem;
  font-family: $header-font;
  line-height: 0;
  padding: 1.4em 7.8% 1.4em 7.8%;
  margin: 0 0 0 -7.8%;
  display: inline-block;

  &:focus {
    outline: 2px solid white;
  }
}

.main-package {
  background: #fff;

  main {
    box-sizing: border-box;
    padding: 0 7.8% 7.8%;
    max-width: 910px;
    margin: 0 auto;
  }

  a {
    color: $grenadie;

    &:focus {
      outline: 2px solid $grenadie;
      text-decoration: none;
    }
  }

  button {
    background-color: $grenadie;
  }
}

.package {
  background: #fff;
  padding: 0 7.8%;
}

@media screen and (min-width: $break-medium) {
  header {
    padding: 4px 0;
  }

  .our-wellknown-logo {
    padding: 1.4em;
    margin: 0 0 0 -1.4em;
  }
}
