.main-nav {
  padding: 0 0 1em;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: inline-block;
  }

  a {
    box-sizing: content-box;
    color: white;
    display: block;
    font-size: 1.8rem;
    padding: 1em 0.5em 1em 0.5em;
    margin-left: -0.5em;
    margin-right: 0.5em;
    white-space: nowrap;

    &:focus {
      outline: 2px solid white;
    }

    @supports selector(:focus-visible) {
      &:focus {
        outline: none;
      }

      &:focus-visible {
        outline: 2px solid white;
      }
    }
  }
}

.lang-nav {
  position: absolute;
  top: 1em;
  right: 7.8%;

  svg {
    padding-right: 8px;
    position: relative;
    top: 3px;
  }
}

.lang-link {
  display: inline-block;
  font-size: 1.6rem;
  padding: 1em;
  margin: -1em -1em 0 0;
  white-space: nowrap;

  &:hover,
  &:focus {
    background: none;
  }
}

@media screen and (min-width: $break-medium) {
  .main-nav {
    position: absolute;
    top: 1.8em;
    right: 7.8%;

    ul {
      display: flex;
    }

    a {
      padding: 1em;
    }
  }

  .lang-nav {
    position: static;
    order: 1;
  }

  .lang-link {
    font-size: 1.8rem;
    margin: 0;
    padding: 1em;
  }
}
