/* patua-one-regular - latin */
@font-face {
  font-family: "Patua One";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/patua-one-v10-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Patua One"), local("PatuaOne-Regular"),
    url("../fonts/patua-one-v10-latin-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/patua-one-v10-latin-regular.woff2") format("woff2"), /* Super Modern Browsers */
    url("../fonts/patua-one-v10-latin-regular.woff") format("woff"), /* Modern Browsers */
    url("../fonts/patua-one-v10-latin-regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/patua-one-v10-latin-regular.svg#PatuaOne") format("svg"); /* Legacy iOS */
}
