<div class="underground">
    <aside class="related-feet">
    <h2>Us elsewhere</h2>
    <ul>
        <li>
            <a href="https://www.meetup.com/t12t-Stockholm/">Meetup</a>
        </li>
        <li>
            <a href="https://join.slack.com/t/t12t/shared_invite/enQtNjA5NDYyOTExNjY4LTFjYmQ3MmI4N2I0YTIyZjgzMmMxMWYxNjNhYTJlNDM3Zjk3NmNhNjA1NTFiZWI5ZmZmYmE4NjRmMDIzNDUwNTE">Slack</a>
        </li>
        <li>
            <a href="https://www.youtube.com/c/t12tAccessibility">YouTube</a>
        </li>
        <li>
            <a href="https://twitter.com/t12t">Twitter</a>
        </li>
        <li>
            <a href="https://www.linkedin.com/company/t12t/">LinkedIn</a>
        </li>
    </ul>
    <h2>Safety and inclusion</h2>
    <p>
        We have a <a href="/code-of-conduct">Code of Conduct</a> that we expect everyone to follow. 
        By taking part in our community whether that is on a physical meetup, 
        a discussion on Slack or elsewhere you are required to agree with our Code of Conduct. 
    </p>
    <h2>{{footer[locale].heading}}</h2>
    <ul>
        <li><a href="https://www.webbriktlinjer.se/" lang="se">Webbriktlinjer.se</a></li>
        <li><a href="https://webaim.org/">WebAIM</a></li>
        <li><a href="https://a11yproject.com/">The Accessibility Project</a></li>
    </ul>
    </aside>
</div>
