<div class="underground">
  <aside class="related-feet">
    <div class="related-feet-list">
      <h2>{{footer[locale].heading.elsewhere}}</h2>
      <ul>
        <li>
          <a href="https://www.meetup.com/t12t-Stockholm/">Meetup</a>
        </li>
        <li>
          <a
            href="https://join.slack.com/t/t12t/shared_invite/enQtNjA5NDYyOTExNjY4LTFjYmQ3MmI4N2I0YTIyZjgzMmMxMWYxNjNhYTJlNDM3Zjk3NmNhNjA1NTFiZWI5ZmZmYmE4NjRmMDIzNDUwNTE"
            >Slack</a
          >
        </li>
        <li>
          <a href="https://www.youtube.com/c/t12tAccessibility">YouTube</a>
        </li>
        <li><a rel="me" href="https://a11y.social/@t12t">Mastodon</a></li>
        <li>
          <a href="https://www.linkedin.com/company/t12t/">LinkedIn</a>
        </li>
      </ul>
    </div>
    <div class="related-feet-list">
      <h2>{{footer[locale].heading.safety}}</h2>
      <p>{{footer[locale].copy.safety}}</p>
    </div>
    <div class="related-feet-list">
      <h2>{{footer[locale].heading.more}}</h2>
      <ul>
        <li>
          <a href="https://www.digg.se/webbriktlinjer/" lang="se"
            >Webbriktlinjer.se</a
          >
        </li>
        <li>
          <a href="https://webaim.org/" lang="en">WebAIM</a>
        </li>
        <li>
          <a href="https://a11yproject.com/" lang="en"
            >The Accessibility Project</a
          >
        </li>
      </ul>
    </div>
  </aside>
</div>
