<!DOCTYPE HTML>
{%- if locale %}
<html lang="{{ locale }}">
{%- else %}
<html lang="sv">
{%- endif %}
  <head>
    <meta charset="utf-8">
    <meta name="description" content="{{ description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{%- if title -%} {{ title }} - {% endif %}t12t</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/favicons/manifest.json">
    <link rel="mask-icon" href="/assets/images/favicons/safari-pinned-tab.svg" color="#f95e00">
    <link rel="shortcut icon" href="/assets/images/favicons/favicon.ico">
    <meta name="msapplication-config" content="/assets/images/favicons/browserconfig.xml">
    <meta name="theme-color" content="#2b1f1a">
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://t12t.se">
    <meta property="og:title" content="{% if title %} {{ title }} - {% endif %} t12t">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="https://t12t.se/assets/images/t12t-opengraph.png">
  </head>
