.underground {
  padding: 2.8% 7.8% 6em;
}

.related-feet {
  box-sizing: border-box;
  max-width: 1000px;
  margin: 0 auto;

  h2 {
    color: white;
  }

  ul {
    margin: 0 0 1em;
    padding: 0;
  }

  li {
    list-style-position: inside;
    white-space: nowrap;
  }

  a {
    display: inline-block;
    padding: 0.3em 0;
  }

  p {
    max-width: 620px;
  }

  p a {
    padding: 0;
  }
}

@media screen and (min-width: $break-medium) {
  .related-feet {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3em;
  }

  .related-feet-list:nth-child(1) {
    max-width: 200px;
    width: 30%;
  }

  .related-feet-list:nth-child(2) {
    max-width: 600px;
    width: 65%;
  }
}

@media screen and (min-width: $break-large) {
  .related-feet {
    flex-wrap: nowrap;
  }

  .related-feet-list {
    width: calc(100% / 3);
  }

  .related-feet-list:nth-child(1) {
    max-width: none;
  }
}
