header {
  color: white;
  display: flex;
}

header a {
  color: white;
}

.our-wellknown-logo {
  font-size: 3.2rem;
  font-family: $header-font;
  padding: 2.777777778% 7.87037037%;
  margin: 0;
  display: block;
  flex: 0 0 auto;

  a {
    display: block;
  }
}

.main-package {
  background: #fff;
  padding: 0 7.87037037%;

  a {
    color: $grenadie;
  }

  button {
    background-color: $grenadie;
  }
}

.package {
  background: #fff;
  padding: 0 7.87037037%;
}
