<ul class="archive-list">
  <li>
    <time datetime="2017-03-22">2017-03-22</time> -
    <a href="http://eepurl.com/cHj3TP">
      The Accessibility Newsletter: The Moose Edition
    </a>
  </li>
  <li>
    <time datetime="2017-03-04">2017-03-04</time> -
    <a href="http://eepurl.com/cEQCQ1">
      The Accessibility Newsletter: The Arctic Fox Edition
    </a>
  </li>
  <li>
    <time datetime="2017-04-20">2017-04-20</time> -
    <a href="http://eepurl.com/cLM7DP">
      The Accessibility Newsletter: The Red Cat-Bear Edition
    </a>
  </li>
</ul>
