<ul class="archive-list">
  <li>
    <time datetime="2019-03-22">2019-03-22</time> -
    <a href="http://eepurl.com/gkZFP5">
      The Accessibility Newsletter: The Lizard Edition
    </a>
  </li>
  <li>
    <time datetime="2019-02-19">2019-02-19</time> -
    <a href="http://eepurl.com/ghCrtT">
      The Accessibility Newsletter: The Giraffe Edition
    </a>
  </li>
  <li>
    <time datetime="2019-01-14">2019-01-14</time> -
    <a href="http://eepurl.com/gdKiG5">
      The Accessibility Newsletter: The Cat Edition
    </a>
  </li>
  <li>
    <time datetime="2018-12-09">2018-12-09</time> -
    <a href="http://eepurl.com/dPYSQv">
      The Accessibility Newsletter: The Deer Edition
    </a>
  </li>
  <li>
    <time datetime="2018-09-24">2018-09-24</time> -
    <a href="http://eepurl.com/dH0FGz">
      The Accessibility Newsletter: The Hedgehog Edition
    </a>
  </li>
  <li>
    <time datetime="2018-04-23">2018-04-23</time> -
    <a href="http://eepurl.com/dr8-wL">
      The Accessibility Newsletter: The Dog Edition
    </a>
  </li>
  <li>
    <time datetime="2018-03-07">2018-03-07</time> -
    <a href="http://eepurl.com/dm5zDv">
      The Accessibility Newsletter: The Squirrels Edition
    </a>
  </li>
  <li>
    <time datetime="2017-11-29">2017-11-29</time> -
    <a href="http://eepurl.com/dbXpTr">
      The Accessibility Newsletter: The Tiny Plover Edition
    </a>
  </li>
  <li>
    <time datetime="2017-08-27">2017-08-27</time> -
    <a href="http://eepurl.com/c09bCP">
      The Accessibility Newsletter: The Puffin Edition
    </a>
  </li>
  <li>
    <time datetime="2017-07-02">2017-07-02</time> -
    <a href="http://eepurl.com/cUH09P">
      The Accessibility Newsletter: The Monkey Edition
    </a>
  </li>
  <li>
    <time datetime="2017-05-25">2017-05-25</time> -
    <a href="http://eepurl.com/cPYQ0L">
      The Accessibility Newsletter: The Otter Edition
    </a>
  </li>
  <li>
    <time datetime="2017-04-20">2017-04-20</time> -
    <a href="http://eepurl.com/cLM7DP">
      The Accessibility Newsletter: The Red Cat-Bear Edition
    </a>
  </li>
  <li>
    <time datetime="2017-03-22">2017-03-22</time> -
    <a href="http://eepurl.com/cHj3TP">
      The Accessibility Newsletter: The Moose Edition
    </a>
  </li>
  <li>
    <time datetime="2017-03-04">2017-03-04</time> -
    <a href="http://eepurl.com/cEQCQ1">
      The Accessibility Newsletter: The Arctic Fox Edition
    </a>
  </li>
</ul>
